body {
  background: white;
  font-size: 14px;
  color: #444444;
  font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif; }

@font-face {
   font-family: Digital-7;
   src: url('../fonts/digital-7/digital-7.ttf'); 
}
@font-face {
   font-family: Alpha-54;
   src: url('../fonts/alpha54/Alpha54.ttf'); 
}
@font-face {
   font-family: justone;
   src: url('../fonts/justone.ttf'); 
}
@font-face {
  font-family: Bulgatti;
  src: url('../fonts/bulgatti-font/Bulgatti-xgMV.ttf'); 
}
@font-face {
   font-family: alphae;
   src: url('../fonts/alpha_echo.ttf'); 
}
@font-face {
   font-family: Ubuntu-light;
   src: url('../fonts/ubuntu/Ubuntu-Light.ttf'); 
}
@font-face {
   font-family: Ubuntu-bold;
   src: url('../fonts/ubuntu/Ubuntu-Bold.ttf'); 
}





  /* +++++++ AWAL DARI LAYAR MINIMAL 701 PX (LAPTOP) ++++ */

/*Layar Desktop*/
@media screen and (min-width: 701px) {
  .textrincian{
      font-size: 16px;
  }
  body{
    padding-top: 20px;
  }
  .wrap-login10{
    width: 50%;
  }

  .wrap-login10 form{
    width: 60%;
  }
  .ikonmetode img{
      width: 20%;
  }
  .textnominal{
      font-size: 16px;    
  }
  .topbanner-dash{
    height: 80vh;
    position: fixed;
    top:0%;
  }
  .topbanner-dash .info-namakost b{
   font-size: 20px;
  }
  .topbanner-dash p{
    font-size: 20px;
    top: 50%;left: 50%;transform: translate(-50%, -50%);
  }

  
  /* +++++++ ATAS DAN KEBAWAH SAMPAI TANDA BERIKUTNYA UNTUK LAYAR MINIMAL 701 PX (LAPTOP) ++++ */

  .landingbanner{
    height: 100vh;
    position: fixed;
    top:0%;
  }
  .landingbanner .info-namakost b{
    font-size: 10vh;
    padding-top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .topbanner-dashpenjaga{
    height: 50vh;
    position: fixed;
    top:0%;
  }

  .bnr-mami img{
    display:inline;
    margin-left:20px;
  }
  
  .bnr-mami p{
    font-size:1.8em;
  }

  .bnr-mami button{
    padding:10px 80px 10px 80px;
    border:2px solid white ; 
    background-color:#ff9f43 ;
    color:white;
    display:inline;
    border-radius:20px;
    margin-left:20px;
    font-family:cursive;
    font-size:20px;
  }
  
  .bnr-bottom{
    text-align: center; 
    padding: 20px;
    position: relative;
  }

  .bnr-bottom p{
    font-size:1.8em;
  }

  .bnr-bottom button{
    padding:10px 80px 10px 80px;
    border:2px solid white ; 
    color:white;
    display:inline;
    border-radius:20px;
    font-family:cursive;
    font-size:20px;
  }
  
  /* +++++++ ATAS DAN KEBAWAH SAMPAI TANDA BERIKUTNYA UNTUK LAYAR MINIMAL 701 PX (LAPTOP) ++++ */

.bnr-kost {
  height:50vh;
  padding:0px;
}


.bnr-kost img{
  width:100%;
  height:100vh;;
  object-fit:cover;
  filter: blur(5px);
  -webkit-filter: blur(5px);
}
.bnr-kost button{
    padding:5px 20px 5px 20px;
    background-color: white;
    color:#ff9f43;
    border-radius:20px;
    font-family: Montserrat;
    font-size:20px;
    opacity: 0.3;
  }

  .panelkamarkosong{
    height:50vh;
    padding-left:0px; 
    text-align: center;
    position: relative;
    box-shadow:0px -10px 25px rgb(177, 177, 177);   
  }

  .judul-panelkamarkosong{
    width:100%;
    position: absolute;
    top: 70px;
    text-align: center;
    font-family: 'Ubuntu-Bold';
    font-size:2.1em;
    color:white;
  }

  .isi-panelkamarkosong{
    width:100%;
    position: absolute;
    top: 180px;
    text-align: center;
    font-family: 'Ubuntu-Light';
    font-size:1.8em;
    color:white;
  }

  
  .isi-paneltotalkamarkosong{
    width:100%;
    position: absolute;
    top: 100px;
    text-align: center;
    font-family: 'Ubuntu-Light';
    font-size:3.8em;
    color:white;
  }

  /* +++++++ ATAS DAN KEBAWAH SAMPAI TANDA BERIKUTNYA UNTUK LAYAR MINIMAL 701 PX (LAPTOP) ++++ */
  .profil_head{
    font-family: 'Montserrat', sans-serif;display:inline;font-size:2em;
  }
  .profil_body{
    width:80%;word-wrap: break-word;margin-top:10px;
  }
  .profil_body p{
    font-family: 'Montserrat', sans-serif;display:inline;font-size:1.2em;
  }
  
  .main{
    margin-top: 40px;
    margin-bottom: 30px;
  } 
  .footbanner p{
    color: white;
    padding-top: 30px;
    text-align: center;
  }
  .isi_kamarkosong p{
    font-size: 20px;
  }

  .navbar-header {
    width: 100%; 
    padding-right: 20px !important;
    padding-left: 20px !important;
    background:none !important;
    } 

/* Halaman Navigasi */
.navbar-header .navbar-brand {
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 500;
  height: 60px;
  padding-top: 18px; 
}

.navbar-header .navbar-brand span {
  color: #30a5ff; 
}
/* */


.bnr-kost p{
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 5%; /* Adjust this value to move the positioned div up and down */
  text-align: center;
  color:#ff5e00;  
  font-size: 3em;
}

}

  /* +++++++ AKHIR DARI LAYAR MINIMAL 701 PX (LAPTOP) ++++ */


@media screen and (max-width: 900px) {

  
.bnr-kost {
  height:100vh;
  padding:0px;
}

.bnr-kost img{
  width:100%;
  height:100vh;;
  object-fit:cover;
  filter: blur(5px);
  -webkit-filter: blur(5px);
}
.bnr-kost button{
    padding:5px 20px 5px 20px;
    background-color: white;
    color:#ff9f43;
    border-radius:20px;
    font-family: Montserrat;
    font-size:20px;
    opacity: 0.3;
  }
  
  .panelkamarkosong{
    height:50vh;
    padding-left:0px; 
    text-align: center;
    position: relative;
    box-shadow:0px -10px 25px rgb(177, 177, 177);  
  }

  
  .judul-panelkamarkosong{
    width:100%;
    position: absolute;
    top: 20px;
    text-align: center;
    font-family: 'Ubuntu-Bold';
    font-size:2.1em;
    color:white #ff9028;
  }

  .isi-panelkamarkosong{
    width:100%;
    position: absolute;
    top: 130px;
    text-align: center;
    font-family: 'Ubuntu-Light';
    font-size:1.8em;
    color:white;
  }

  .isi-paneltotalkamarkosong{
    width:100%;
    position: absolute;
    top: 50px;
    text-align: center;
    font-family: 'Ubuntu-Light';
    font-size:3.8em;
    color:white;
  }

}

  /* +++++++ AWAL DARI LAYAR MAXIMAL 700 PX (TABLET - HP) ++++ */

/* Layar Tablet - HP */
@media screen and (max-width: 700px) {
  .textrincian{
      font-size: 10px;
  }
  .ikonmetode img{
      width: 40%;
  }

  .wrap-login10{
    width: 100%;
  }

  .wrap-login10 form{
    width: 80%;
  }
  body{
    padding-top: 50px;
    padding-bottom: 30px;
  }
  .textnominal{
      font-size: 14px;
  }

  
  /* +++++++ ATAS DAN KEBAWAH SAMPAI TANDA BERIKUTNYA UNTUK LAYAR MAX 700 PX (HP - TABLET) ++++ */

  .topbanner-dash{
    height: 100vh;
  }
  .topbanner-dash .info-namakost b{
   font-size: 1.4em;
  }
  .topbanner-dash p{
    font-size: 15px;
    top: 40%;left: 50%;transform: translate(-50%, -50%);
  }
  .landingbanner{
    height: 100vh;
    position: fixed;
    top:0%;
  }
  .landingbanner .info-namakost b{
   font-size: 1.1em;
  }
  .landingbanner b{
    font-size: 20vh;
    padding-top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .faq_panel_top{
   border-top-left-radius:20px;
   border-top-right-radius:20px;
  }
  
  .faq_panel_bottom{
   border-bottom-left-radius:20px;
   border-bottom-right-radius:20px;
  }
  
  .topbanner-dashpenjaga{
    height: 30vh;
    position: fixed;
    top:0%;
  }
  
  .with-shadow{
    box-shadow:0px -10px 25px #b35701 ;  
  }
.bnr-kost {
  height:100vh;
  padding:0px;
}

.bnr-kost img{
  width:100%;
  height:100vh;;
  object-fit:cover;
  filter: blur(5px);
  -webkit-filter: blur(5px);
}
.bnr-kost button{
    padding:5px 20px 5px 20px;
    background-color: white;
    color:#ff9f43;
    border-radius:20px;
    font-family: Montserrat;
    font-size:20px;
    opacity: 0.3;
  }
  
  .bnr-mami img{
    display:block;
    width:40%;
    margin-left: 0px;
  }

  .bnr-mami a img{
    display:block;
    width:40%;
    margin-left: 0px;
  }

  .bnr-mami p{
    font-size:1.3em;
  }

  .bnr-mami button{
    padding:5px 40px 5px 40px;
    border:2px solid white ; 
    background-color:#ff9f43 #ffb875;
    color:white;
    display:inline;
    border-radius:20px;
    font-family:cursive;
    font-size:20px;
  }

  /* +++++++ ATAS DAN KEBAWAH SAMPAI TANDA BERIKUTNYA UNTUK LAYAR MAX 700 PX (HP - TABLET) ++++ */

  .bnr-bottom{
    text-align: center; 
    padding: 20px;
    position: relative;
  }

  .bnr-bottom p{
    font-size:1.3em;
  }

  .bnr-bottom button{
    padding:5px 40px 5px 40px;
    border:2px solid white ; 
    color:white;
    display:inline;
    border-radius:20px;
    font-family:cursive;
    font-size:20px;
  }

  .panelkamarkosong{
    height:60vh;
    padding-left:0px; 
    text-align: center;
    position: relative;
    box-shadow:0px -10px 25px rgb(177, 177, 177);   
  }

  .judul-panelkamarkosong{
    width:100%;
    position: absolute;
    top: 50px;
    text-align: center;
    font-family: 'Ubuntu-Bold';
    padding:10px;
    font-size:2.1em;
    color:white;
  }

  .isi-panelkamarkosong{
    width:100%;
    position: absolute;
    top: 250px;
    text-align: center;
    font-family: 'Ubuntu-Light';
    font-size:1.8em;
    color:white;
  }

  .isi-paneltotalkamarkosong{
    width:100%;
    position: absolute;
    top: 150px;
    text-align: center;
    font-family: 'Ubuntu-Light';
    font-size:3.8em;
    color:white;
  }

  /* +++++++ ATAS DAN KEBAWAH SAMPAI TANDA BERIKUTNYA UNTUK LAYAR MAX 700 PX (HP - TABLET) ++++ */
 .profil_head{
    font-family: 'Montserrat', sans-serif;display:inline;font-size:2em;
  }
  .profil_body{
    font-family: 'Montserrat', sans-serif;display:inline;font-size:0.9em;word-wrap: break-word;
  }

  .main{
    margin-top: 40px;
    margin-bottom: 30px;
  }
  .footbanner p{
    color: white;
    padding-top: 30px;
    text-align: center;
  }
  .isi_kamarkosong p{
    font-size: 16px;
  }
  
.bnr-kost p{
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 10%; /* Adjust this value to move the positioned div up and down */
  text-align: center;
  color:#ff5e00   ;  
  font-size: 2.5em;
}
}
  /* +++++++ AKHIR DARI LAYAR MAX 700 PX (HP - TABLET) ++++ */

.headpanel-datadashboard{
  border-radius: 30px; 
  padding: 20px; 
  width: 100%; 
  font-family: 'Montserrat',sans-serif; 
  background-image: linear-gradient(#1ED760,#1ED760);
  color: white;
  margin-bottom: 20px;
}
.panel-datadashboard{
  padding-left:0px !important;
  padding-right:0px !important;
}
.panel-datadashboard button{  
    padding: 20px;
    width: 100%;
    font-family: 'Montserrat',sans-serif; 
    color: white;
}

.faq_panel{
   text-align: center; 
   padding: 40px;
   min-height:300px;
   position: relative;
   width:100%;
   margin-top:5px;
   margin-bottom:5px;
}

.faq_panel_q {
  font-family: 'Montserrat', sans-serif;font-size:1.3em;
  color:white;
}

.faq_panel_a {
  font-family: 'Montserrat', sans-serif;
  font-size:1.7em;color:white;
}

div.numbertext{
  background-color: white;
  position: absolute;
  top: 0%;
  right: 10%;
  transform: translate(-50%, 0%);
  font-size: 18px;
  border-radius: 30px;
  white-space: nowrap; 
  width: 200px; 
  overflow: hidden; 
}

div.cekfnb{
  position: absolute;
  bottom: 50%;
  right: 10%;
}


  .navbar-header {
    width: 100%; 
    padding-right: 0px;
    margin-left: 0px !important;
    } 

/* Halaman Navigasi */
.navbar-header .navbar-brand {
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 500;
  height: 60px;
  padding-top: 18px; 
}

.navbar-header .navbar-brand span {
  color: #30a5ff; 
}
/* */

/* Panel Kamar Kosong*/
.judul_kamarkosong{
  color:white;
  text-align: center;
}
.panel_kamarkosong{
   width:100%;
   margin-top: 10px; 
   color:orange;
}
.isi_kamarkosong{
  border-radius: 30px; 
  padding: 10px; 
  position: relative;
}
.isi_kamarkosong img{
  width:100%;
}
.isi_kamarkosong p{
  text-align: center;
  color:white;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/**/

/*Banner Add - Halaman Home */
.banner-add{
  margin-bottom: 30px; margin-top: 50px; width: 100%; border-radius: 30px;height:50px;position: relative;color:white;
}
.banner-add img{
  position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%); height: 40%; 
}
.banner-add button{
  background-color: #E6E6E6; border-radius: 30px; padding-top: 20px; padding-bottom: 20px;
}
.banner-add button:hover{
  background-color: #B1B1B1; border-radius: 30px; padding-top: 20px; padding-bottom: 20px; color:white;
}
.banner-add button:active{
  background-color: #B1B1B1; border-radius: 30px; padding-top: 20px; padding-bottom: 20px; color:white;
}
.banner-add button .icon {
  background-color: #E6E6E6;padding:0px;color:grey;
}
.banner-add button:hover .icon {
  background-color: #B1B1B1; padding:0px;color:white;
}
/**/

/*List Kost -  Halaman Home */
.listkost{
  margin-bottom: 20px;position: relative;
}
.listkost img{
  object-fit: cover; object-position: 0px 60%; border-radius: 20px;  border: 2px dashed #e8e8e8;  width:100%; height:200px; 
}
.listkost img:hover{
  -webkit-filter: blur(4px);filter: blur(4px);
}
.listkost p{
  position: absolute; width:70%;bottom: 0%;left: 50%;transform: translate(-50%, -50%); text-align: center;font-family: Montserrat-ExtraBold; font-size: 20px;color:white; background-color: orange;padding: 10px;border-radius: 30px;
}
.listkost p:hover{
  width: 80%;
  color:orange ; background-color: white;
  text-align: center;
}
.listkost img:hover ~ p{
  width: 70%;
  color:orange; background-color: white;
  text-align: center;
}

.listkost p:hover ~ img{
  -webkit-filter: blur(4px);filter: blur(4px);
}

/**/

/*Banner Top - Halaman Dashboard */
.topbanner-dash{
  margin-bottom:20px; width: 100%; position: relative;background-repeat: no-repeat;background-size: cover;background-position: center center; padding: 0px !important;
}

.topbanner-dash p{
  text-align: center;position: absolute; width:50%;font-family: Montserrat-ExtraBold; color:white; background-color: orange;padding: 10px;border-radius: 30px;
}

.topbanner-dash .info-penjaga{
 position: absolute;bottom:0%;left: 50%;transform: translate(-50%, -50%);font-family: Montserrat-ExtraBold; width:100%;color: white;text-align: center;
}

.topbanner-dash .info-namakost{
  position: absolute;top:30%;left: 50%;transform: translate(-50%, -50%);font-family: Montserrat-ExtraBold; width:100%;color: white;text-align: center;
}

.topbanner-dash .info-namakost b{
  position: absolute; width:80%;top: 20%;left: 50%;transform: translate(-50%, -50%);font-family: Montserrat-ExtraBold; color:white; background-color: orange;padding: 10px;border-radius: 30px;
}

/*Landing Banner*/
.landingbanner{
  width: 100%; position: relative;background-repeat: no-repeat;background-size: cover;background-position: center center; padding: 0px !important;
}

.landingbanner p{
  text-align: center;position: absolute; width:50%;font-family: 'Open Sans', sans-serif; color:white; background-color: orange;padding: 10px;border-radius: 30px;
}

.landingbanner .info-penjaga{
 position: absolute;bottom:0%;left: 50%;transform: translate(-50%, -50%);font-family: Montserrat-ExtraBold; width:100%;color: white;text-align: center;
}

.landingbanner .info-namakost{
  position: absolute;top:30%;font-family: Montserrat-ExtraBold; width:100%;color: gray;text-align: center;
}

.landingbanner .info-namakost b{
  position: absolute; width:80%;top: 50%;font-family: 'justone', justone; color:#ff9100;
}
.landingbanner:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -11;
    background-image: url("../uploads/hp-1.svg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

/*Top Banner Dashboard Penjaga*/
.topbanner-dashpenjaga{
  width: 100%; position: relative;background-repeat: no-repeat;background-size: cover;background-position: center center; padding: 0px !important;
}
.topbanner-dashpenjaga:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -11;
    opacity: 0.5;
    background-image: url(https://premierekost.com/uploads/premiere.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

.bnr-kost {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; 
  padding: 0px !important;
}


/**/


.info-nonpenjaga{
   margin-bottom: 30px; background-color: orange; padding: 20px;width:100%;font-family: Montserrat-ExtraBold;color: white;text-align: center; height: 100px;
}

.info-nonpenjaga button{
   background-color: grey; padding-top: 5px;padding-bottom: 5px; border-radius: 20px;border:0px;width: 100px; margin-top: 10px;
 }

/**/

/*Panel Informasi Terkini*/
.judul_panel_informasiterkini{
  background-color: #20948B; border: 2px solid white; color:white;
}

.isi_panel_informasiterkini .progress-labels{
  padding: 15px; border: 2px dashed #e8e8e8;background-color:#6AB180; color:white;
}


.isi_panel_informasiterkini .progress-labels img{
  float:left; margin-right: 15px;width: 40px;
}
/*  */

/* Foot Banner */
.footbanner{
  width: 100%;
  height: 200px;
  background-color: #3d3d3d;
  position: relative;
}
.footbanner p{
  color: white;
  text-align: center;
}
/*  */

/*Form Landing*/
.formlanding span.name-bg, .formlanding span.email-bg {
    display: inline-block;
    line-height: 21px;
    width: 100%;
    color: #606060;
    box-sizing: border-box;
    height: 30px;
    font-family: Dosis;
    letter-spacing: 1px;
    font-weight: normal;
}
.formlanding input{
    padding: 5px;
    margin-top: 4px !important;
    box-shadow: none!Important;
    width: 50%;
    max-width: 100%;
    border: 1px solid #D2D2D2;
    line-height: 1em;
    min-height: 31px;
    background: #FEFEFE;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 15px;
    border-radius: 0px;
}
/**/

.arrow-down {
  width: 100%; 
  height: 0; 
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid white;
}

/* Notification Button on Nav */
.notification {
  background-color: #555;
  color: white;
  text-decoration: none;
  padding: 15px 26px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
}

.notification:hover {
  background: red;
}

.notification .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
  background: red;
  color: white;
}
/**/



.numbertext:hover {
  overflow: visible;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  width: 200px;
  margin: auto;
}


.active {
  background-color: #717171;
}


/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .tulisan {font-size: 11px}
}

.line-1{
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
  animation: typewriter 2s steps(44) 3s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
             z-index: 10000;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 16em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}



.modal{
  background-color: #1ED760;
}
.modal-content{
  background-color: #1ED760; border:none; width: 100%;
}
.modal-body label{
  color:white;
}

.detailscroll{
  position: sticky;bottom: 0;background-image: linear-gradient(to bottom right, #8E2DE2, #4A00E0);padding:10px; color:white;
}

#Actual1, #Actual2 {
            color: white;
            border: 2px dashed white;
            border-radius: 20px;
            padding: 20px;
            z-index: 12;
        }
        .slideup, .slidedown {
            max-height: 0;            
            overflow-y: hidden;
            -webkit-transition: max-height 0.5s ease-in-out;
            -moz-transition: max-height 0.5s ease-in-out;
            -o-transition: max-height 0.5s ease-in-out;
            transition: max-height 0.5s ease-in-out;
        }
        .slidedown { 
            overflow-y: auto;           
            max-height: 200px ;                  
        }    

        .panah {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.crossed {
     background: 
         linear-gradient(to top left,
             rgba(255,0,0,0) 0%,
             rgba(255,0,0,0) calc(50% - 2px),
             rgba(255,0,0,1) 50%,
             rgba(255,0,0,0) calc(50% + 2px),
             rgba(255,0,0,0) 100%),
         linear-gradient(to top right,
             rgba(255,0,0,0) 0%,
             rgba(255,0,0,0) calc(50% - 2px),
             rgba(255,0,0,1) 50%,
             rgba(255,0,0,0) calc(50% + 2px),
             rgba(255,0,0,0) 100%);
}

.stickykeuangan{
  border-top: 10px solid white;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  background-color: #ff9f43;
  width: 100%;
  padding: 10px;
  position: fixed;
  left:0;
  bottom: 0;
  width: 100%;
  z-index: 10;
  display: inline-block;
}


.stickykeuangan .menudesc{
  display: inline-block;  border-bottom: 2px dashed white;border-right: 2px dashed white;
}

.stickykeuangan .menudesc p{
text-align:center;font-size:140%; color:white; text-align:center;
}

.vr {
    width:1vw;
    color:white;
    background-color:white;
    position:absolute;
    top:0;
    bottom:0;
    left:50%;
    z-index: -1;
}

.sticknav a { 
  display: block; 
  text-decoration: none; 
  color: #3B5330;
}
.sticknav a:hover { background: #B0BD97;}
.sticknav ul li ul li a:hover { 
  background: #ECF1E7; 
  padding-left:9px;
  border-left: solid 1px #000;
}
.sticknav ul li ul li {
  width: 140px; 
  border: none; 
  color: #B0BD97;  
  padding-top: 3px; 
  padding-bottom:3px; 
  padding-left: 3px; 
  padding-right: 3px; 
  background: #B0BD97;
}
.sticknav ul li ul li a { 
  font: 11px arial; 
  font-weight:normal; 
  font-variant: small-caps; 
  padding-top:3px; 
  padding-bottom:3px;
}
.sticknav ul li {
  float: left; 
  width: 146px; 
  font-weight: bold; 
  border-top: solid 1px #283923; 
  border-bottom: solid 1px #283923; 
  background: #979E71;
}
.sticknav ul li a { 
  font-weight: bold;
  padding: 15px 10px;
}
.sticknav li {
  position:relative; 
  float:left;
}
.sticknav ul li ul, .sticknav:hover ul li ul, .sticknav:hover ul li:hover ul li ul {
  display:none;
  list-style-type:none;
  width: 140px;
}
.sticknav:hover ul, .sticknav:hover ul li:hover ul, .sticknav:hover ul li:hover ul li:hover ul {
  display:block;
}
.sticknav:hover ul li:hover ul li:hover ul {
  position: absolute;
  margin-left: 145px;
  margin-top: -22px;
  font: 10px;
}
.sticknav:hover ul li:hover ul {
  position: absolute;
  margin-top: 1px;
  font: 10px;
}

.sticknavcontent{
  position: fixed; 
  display: block;
  top: 95%;
  left: 98%;
  margin-right: 0px;
  transform: translate(-50%,-50%);
  width: 150px;
  height: 150px;
  box-sizing: border-box;
  border: white 5px solid;
  z-index: 10003;
  border-radius: 30px;
  background-color: orange;
}

.sticknav{
  position: fixed; 
  display: block;
  top: 93%;
  left: 90%;
  margin-right: 0px;
  transform: translate(-50%,-50%);
  width: 60px;
  height: 60px;
  border-radius: 50px;
  box-sizing: border-box;
  background-image: linear-gradient(to bottom right, #000791, #57beff);
  z-index: 10004;
}

.sticknav:hover{
  background-image: linear-gradient(to bottom right, #fff700, #ffa200);
  color: orange;
}

.sticknav i{
  position: absolute;
  left: 33%;
  top: 33%;
  text-align: center;
  font-size: 25px;
  color: white;
}

/* Style the input container */
.tombol-container {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
}
.icon {
  padding: 10px;
  background: blue;
  color: white;
  min-width: 50px;
  text-align: center;
  width: 100%;
}

.loadbg {
    background-image: linear-gradient(to bottom right, #ff6a00, #f5ff40);
    display: none;
    position: fixed;   
    top: 0;               
    right: 0;             
    bottom: 0;
    left: 0;
    width: 100%;
    height:100%;
    z-index: 10000;
}
.loadbg p{
    position: fixed;
    top: 55%;
    left: 50%;
    color:white;
    font-size: 20px;
    font-weight: bold;
    /* top:0; */
    display: inline-block;
    text-align: center;
    transform: translate(-50%, -50%);
}

.loader{
  position: fixed; 
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 40px;
  height: 40px;
  border-radius: 50px;
  box-sizing: border-box;
  border: 3px solid white;
  animation: animate 2s linear 1;
  animation-fill-mode: forwards;
}
.loader:before{
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50px;
  background: white;
  animation: animateBg 2s linear 1 ;
}
.loader.complete:before{
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50px;
  background: white;
  animation: animateBg 2s linear 1 ;
}
.loader p{
    position: fixed;
    left: 50%;
    top: 50%;
    /* top:0; */
    display: inline-block;
    text-align: center;
    margin-bottom: -5em;
}
@keyframes animate{

  0%
  {
      transform: translate(-50%, -50%) rotate(0deg);
  }
  25%
  {
      transform: translate(-50%, -50%) rotate(180deg);
  }
  50%
  {
      transform: translate(-50%, -50%) rotate(180deg) scale(30);
  }
  75%
  {
      transform: translate(-50%, -50%) rotate(360deg) scale(50);
  }
  100%
  {
      transform: translate(-50%, -50%) rotate(360deg) scale(100);
  }
}
@keyframes animateBg{

  0%
  {
    height: 100%;
    width: 100%;
    opacity: 0;
  }
  10%
  {
    height: 100%;
    width: 100%;
    opacity: 0.1;
  }
  15%
  {
    height: 100%;
    width: 100%;
    opacity: 0.2;
  }

  25%
  {
    height: 100%;
    width: 100%;
    opacity: 0.4;
  }
  50%
  {
    height: 100%;
    width: 100%;
    opacity: 0.6;
  }
  75%
  {
    height: 100%;
    width: 100%;
    opacity: 0.8;
  }
  100%
  {
    height: 100%;
    width: 1000%;
    opacity: 1;
  }
}

p {
  color: #777; }

a, a:hover, a:focus {
  color: #30a5ff; }

h1, h2, h3, h4, h5, h6 {
  color: #444444; }

h1 {
  font-weight: 300;
  font-size: 40px; }

h2 {
  font-weight: 300;
  margin-bottom: 20px; }

h3, h4 {
  font-weight: 300; }

.large {
  font-size: 2em; }

.text-muted {
  color: #c5c7cc; }

.color-gray {
  color: #444444; }

.color-blue {
  color: #30a5ff; }

.color-teal {
  color: #1ebfae; }

.color-orange {
  color: #ffb53e; }

.color-red {
  color: #f9243f; }

.no-padding {
  padding: 0;
  margin: 0; }

.fa-xl {
  font-size: 2em; }

input.form-control {
  border: 1px solid #ddd;
  box-shadow: none;
  height: 46px; }

.bootstrap-table input.form-control {
  height: 34px; }

.input-group-btn .btn {
  height: 46px; }

.form-control:focus {
  border: 1px solid #30a5ff;
  outline: 0;
  box-shadow: inset 0px 0px 0px 1px #30a5ff; }

.has-success .form-control, .has-success .form-control:focus {
  border: 1px solid #8ad919; }

.has-warning .form-control, .has-warning .form-control:focus {
  border: 1px solid #ffb53e; }

.has-error .form-control, .has-error .form-control:focus {
  border: 1px solid #f9243f; }

.navbar-custom {
    background-color: none;;
  height: 60px; 
  border-bottom: 10px solid white;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px; height: 70px;
}
.navbar-custom .navbar-header .navbar-brand{
   color: orange;
}
.navbar-custom .navbar-header .navbar-brand span{
   color: orange;
}

.navbar-custom-stick {
    background-color: #ff9f43;
  height: 60px; 
  border-bottom: 0px solid white;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px; height: 70px;
}
.navbar-custom-stick .navbar-header .navbar-brand{
  color: white;
}
.navbar-custom-stick .navbar-header .navbar-brand span{
   color:  white;
}

.navbar-def {
  background: #ff9f43;
  height: 60px; 
  border-bottom: 10px solid white;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px; height: 70px;
}
.navbar-def .navbar-header .navbar-brand{
  color: white;
}
.navbar-def .navbar-header .navbar-brand span{
   color: white;
}
.navbar-def span{
  color: white;
}

.navbar-toggle {
  background: rgba(255, 255, 255, 0.1);
  padding: 12px;
  margin-top: 10px; }

.navbar-toggle:hover {
  background: rgba(255, 255, 255, 0.05); }

.icon-bar {
  background: #fff; }

.dropdown {
  background: rgba(255, 255, 255, 0.1);
  float: left;
  margin: 10px 8px;
  padding: 0px;
  border-radius: 4px; }

.dropdown a.dropdown-toggle {
  color: #fff;
  height: 40px;
  width: 40px;
  padding-top: 11px;
  padding-left: 9px; }

.dropdown:hover {
  color: #fff;
  background: rgba(255, 255, 255, 0.2); }

.dropdown .label {
  top: -4px;
  left: 22px;
  padding-top: 4px;
  padding-bottom: 4px;
  position: absolute;
  border-radius: 9999px; }

.navbar-top-links li:last-child {
  margin-right: 15px; }

.nav > li > a:hover, .nav > li > a:focus, .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.2);
  background: none; }

.dropdown-messages {
  border: 1px solid #fff;
  width: 360px;
  background: rgba(255, 255, 255, 0.9);
  color: #444;
  font-size: 0.9em; }

.dropdown-messages img {
  margin: 5px 10px;
  float: left; }

.dropdown-messages .message-body {
  margin: 5px;
  float: left;
  width: 280px; }

.dropdown small {
  color: #999; }

.dropdown em {
  margin: 0 5px; }

.dropdown-menu > li > a {
  padding: 5px 10px; }

.dropdown-menu li .message-body a {
  color: #444; }

.dropdown-menu li a:hover {
  color: #30a5ff;
  text-decoration: none;
  background: none; }

.divider, .clear {
  clear: both; }

.dropdown-alerts {
  border: 1px solid #fff;
  width: 260px;
  background: rgba(255, 255, 255, 0.9);
  color: #444;
  font-size: 0.9em; }

.all-button a {
  text-align: center;
  color: #444;
  font-size: 12px;
  text-transform: uppercase;
  display: block; }

a.btn:hover, button:hover {
  opacity: 0.8; }

a.btn:active, button:active {
  box-shadow: inset 0px 0px 500px rgba(0, 0, 0, 0.1);
  opacity: 1; }

.btn-default, .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default, .btn-default.disabled, .btn-default[disabled], fieldset[disabled] .btn-default, .btn-default.disabled:hover, .btn-default[disabled]:hover, fieldset[disabled] .btn-default:hover, .btn-default.disabled:focus, .btn-default[disabled]:focus, fieldset[disabled] .btn-default:focus, .btn-default.disabled:active, .btn-default[disabled]:active, fieldset[disabled] .btn-default:active, .btn-default.disabled.active, .btn-default[disabled].active, fieldset[disabled] .btn-default.active {
  background-color: #e9ecf2;
  border-color: #e9ecf2;
  color: #1b3548; }

.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary, .btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active {
  background-color: #30a5ff;
  border-color: #30a5ff; }

.btn-success, .btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success, .btn-success.disabled, .btn-success[disabled], fieldset[disabled] .btn-success, .btn-success.disabled:hover, .btn-success[disabled]:hover, fieldset[disabled] .btn-success:hover, .btn-success.disabled:focus, .btn-success[disabled]:focus, fieldset[disabled] .btn-success:focus, .btn-success.disabled:active, .btn-success[disabled]:active, fieldset[disabled] .btn-success:active, .btn-success.disabled.active, .btn-success[disabled].active, fieldset[disabled] .btn-success.active {
  background-color: #8ad919;
  border-color: #8ad919; }

.btn-warning, .btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open > .dropdown-toggle.btn-warning, .btn-warning.disabled, .btn-warning[disabled], fieldset[disabled] .btn-warning, .btn-warning.disabled:hover, .btn-warning[disabled]:hover, fieldset[disabled] .btn-warning:hover, .btn-warning.disabled:focus, .btn-warning[disabled]:focus, fieldset[disabled] .btn-warning:focus, .btn-warning.disabled:active, .btn-warning[disabled]:active, fieldset[disabled] .btn-warning:active, .btn-warning.disabled.active, .btn-warning[disabled].active, fieldset[disabled] .btn-warning.active {
  background-color: orange;
  border-color: white; }

.btn-danger, .btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open > .dropdown-toggle.btn-danger, .btn-danger.disabled, .btn-danger[disabled], fieldset[disabled] .btn-danger, .btn-danger.disabled:hover, .btn-danger[disabled]:hover, fieldset[disabled] .btn-danger:hover, .btn-danger.disabled:focus, .btn-danger[disabled]:focus, fieldset[disabled] .btn-danger:focus, .btn-danger.disabled:active, .btn-danger[disabled]:active, fieldset[disabled] .btn-danger:active, .btn-danger.disabled.active, .btn-danger[disabled].active, fieldset[disabled] .btn-danger.active {
  background-color: #f9243f;
  border-color: #f9243f; }

.btn-link, .page-link, .text-primary {
  color: #30a5ff !important; }

.btn-link:focus, .btn-link:hover, .page-link:focus, .page-link:hover, a.text-primary:focus, a.text-primary:hover {
  color: #50b3ff !important; }

.bg-primary {
  color: #1b3548;
  background-color: #e9ecf2; }

a.bg-primary:hover {
  background-color: #e9ecf2; }

.bg-success, .bg-green {
  color: #fff;
  background-color: #8ad919; }

a.bg-success:hover, a.bg-green:hover {
  background-color: #8ad919; }

.bg-success a, .bg-green a {
  color: rgba(255, 255, 255, 0.75); }

.bg-teal {
  color: #fff;
  background-color: #1ebfae; }

a.bg-teal:hover {
  background-color: #1ebfae; }

.bg-teal a {
  color: rgba(255, 255, 255, 0.75); }

.bg-info, .bg-blue {
  color: #fff;
  background-color: #30a5ff; }

a.bg-info:hover, a.bg-blue:hover {
  background-color: #30a5ff; }

.bg-info a, .bg-blue a {
  color: rgba(255, 255, 255, 0.75); }

.bg-warning, .bg-orange {
  color: #fff;
  background-color: #ffb53e; }

a.bg-warning:hover, a.bg-orange:hover {
  background-color: #ffb53e; }

.bg-warning a, .bg-orange a {
  color: rgba(255, 255, 255, 0.75); }

.bg-danger, .bg-red {
  color: #fff;
  background-color: #f9243f; }

a.bg-danger:hover, a.bg-red:hover {
  background-color: #f9243f; }

.bg-danger a, .bg-red a {
  color: rgba(255, 255, 255, 0.75); }

a.label:hover, a.label:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer; }

.label:empty {
  display: none; }

.btn .label {
  position: relative;
  top: -1px; }

.label-default {
  background-color: #777; }

.label-default[href]:hover, .label-default[href]:focus {
  background-color: #5e5e5e; }

.label-primary {
  color: #1b3548;
  background-color: #e9ecf2; }

.label-primary[href]:hover, .label-primary[href]:focus {
  background-color: #e9ecf2; }

.label-success {
  background-color: #8ad919; }

.label-success[href]:hover, .label-success[href]:focus {
  background-color: #8ad919; }

.label-info {
  background-color: #30a5ff; }

.label-info[href]:hover, .label-info[href]:focus {
  background-color: #30a5ff; }

.label-warning {
  background-color: #ffb53e; }

.label-warning[href]:hover, .label-warning[href]:focus {
  background-color: #ec971f; }

.label-danger {
  background-color: #f9243f; }

.label-danger[href]:hover, .label-danger[href]:focus {
  background-color: #f9243f; }

.panel {
  border: 0; }

.panel-container {
  padding-top: 20px; }

.panel-heading .fa-toggle-up, .panel-heading .fa-toggle-down {
  font-size: 17px; }

.panel-primary > .panel-heading {
  background-color: #30a5ff;
  color: #fff;
  border: none; }

.panel-success > .panel-heading {
  background-color: #8ad919;
  color: #fff;
  border: none; }

.panel-info > .panel-heading {
  background-color: #30a5ff;
  color: #fff;
  border: none; }

.panel-warning > .panel-heading {
  background-color: #ffb53e;
  color: #fff;
  border: none; }

.panel-danger > .panel-heading {
  background-color: #f9243f;
  color: #fff;
  border: none; }

.panel-primary .panel-settings, .panel-primary .panel-toggle, .panel-success .panel-settings, .panel-success .panel-toggle, .panel-info .panel-settings, .panel-info .panel-toggle, .panel-warning .panel-settings, .panel-warning .panel-toggle, .panel-danger .panel-settings, .panel-danger .panel-toggle {
  border: none;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2); }

.panel-primary .panel-settings:hover, .panel-primary .panel-toggle:hover, .panel-success .panel-settings:hover, .panel-success .panel-toggle:hover, .panel-info .panel-settings:hover, .panel-info .panel-toggle:hover, .panel-warning .panel-settings:hover, .panel-warning .panel-toggle:hover, .panel-danger .panel-settings:hover, .panel-danger .panel-toggle:hover {
  border: none;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.4); }

.panel-blue {
  background: #30a5ff;
  color: #fff; }

.tabeladd table{
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

.panel-teal {
  background: #1ED760;
  color: #fff; }

.formcari:hover{
  background-color: #efefef;
}

.panel-cteal {
  background: white;
  margin-top: 5px; }

.panel-cteal:hover {
  background: #efefef;}

.panel-ateal {
  background: #1ED760;
  color: #fff; }

.panel-bteal table {
  background: #14a08f;
  color: #fff; }

.panel-bteal {
  background: #14a08f;
  color: #fff; }

.panel-bteal img{
  background-color: white; }

.panel-bteal button{
  color: #14a08f; }

.panel-ateal h3 {
  background: #1ED760;
  color: white; 
  text-align: center;}

.panel-body .listpenghuni{
  overflow-y: scroll;
  min-height: 300px;
  max-height: 400px;
  }
  .panel-body .listpenghuni table tr:hover{
  background-color: #efefef
  }
  .panel-body .listpenghuni table th{
  background-color: #00cbff;
  color:white;
  }

.panel-body .scrollfield{
  overflow-y: auto;
  min-height: 200px;
  max-height: 300px;
  }

.panel-body .nonpenghuni table td{
  color: black;
  max-width: 100%;
  }

.form-group .inputfasilitas table{
  background-color: white;
  color: #1ebfae;
  width: 100%;
  }

.form-group .inputfasilitas table td{
  padding: 10px;
  border: none;
  text-align: left;
  width: 30%;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: "-----"; 
  }

.panel-teal h3 {
  color: white; 
  text-align: center;}

.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 7px;
}

.icon {
  padding: 10px;
  background: orange;
  color: white;
  width: 10px;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
  text-align: left;
}

.input-field:focus {
  border: 2px solid orange;
}

.polaroid {
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

.container-pol {
  text-align: center;
  padding: 10px 20px;
}
.polaroid img {width: 100%}



.panel-bteal h3 {
  color: white; 
  text-align: center;}

.panel-ateal img {
  border-radius: 50%;
  background-color: white; 
  text-align: center;}

.panel-ateal .detail {
  padding: 20px;
  margin-top: 20px;
  color: white;}

.panel-ateal .detail .paid {
  color: white;
  border: 3px;
  border-style: solid;
  border-color: green;
  padding: 10px;
  background-color: green}

.panel-ateal .detail .notpaid {
  color: white;
  border: 3px;
  border-style: solid;
  border-color: red;
  padding: 10px;
  background-color: red}

.panel-ateal .detail .notpaidoff {
  color: white;
  border: 3px;
  border-style: solid;
  border-color: orange;
  padding: 10px;
  background-color: orange}

.panel-ateal .detail .kosong {
  color: white;
  border: 3px;
  border-style: solid;
  border-color: gray;
  padding: 10px;
  background-color: gray}

.panel-ateal .detail a{
  text-decoration: none;
  color: white;}

.square-orens {
    width: 14px;
    height: 15px;
    font-size: 1.5rem;
    border-radius: 10px;
    background-color: orange;
    display: inline-block;
    vertical-align: middle;
}
.teksorens {
  margin-left: 5px;
  color:orange;
    size: 1px;
    vertical-align: middle;
}

.square-merah {
    width: 14px;
    height: 15px;
    font-size: 1.5rem;
    border-radius: 10px;
    background-color: red;
    display: inline-block;
    vertical-align: middle;
}
.teksmerah {
  margin-left: 5px;
  color:red;
    size: 1px;
    vertical-align: middle;
}

.panel-default .detailtabel table{
  width: 100%;
  margin-left: 30px;
  margin-top: 10px;
  text-decoration: none;
  color: black;}

.panel-default .detailtabel td{
  width: 40%;
  height: 50px;
  text-decoration: none;
  margin-bottom: 20px;
  color: black;}


#jam,#tanggal{
  color: white;
  text-align: center;
}

.panel-orange {
  background: #ffb53e;
  color: #fff; }

.panel-red {
  background: #f9243f;
  color: #fff; }

.dark-overlay {
  background: rgba(0, 0, 0, 0.05); }

.panel-blue p, .panel-teal p, .panel-orange p, .panel-red p {
  color: rgba(255, 255, 255, 0.75); }

.panel-heading {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.025em;
  height: 60px;
  line-height: 38px; }

.panel-default .panel-heading {
  background: #fff;
  border-bottom: 2px solid orange;
  color: orange; }

.panel-footer {
  background: #fff;
  border-top: 1px solid #e9ecf2; }

.panel-widget {
  padding: 10px 0;
  position: relative;
  box-shadow: none;
  border-radius: 0;
  background: none;
  text-align: center;
  color: #333; }

.panel-widget .panel-footer {
  border: 0;
  text-align: center; }

.panel-footer .input-group {
  padding: 0px;
  margin: 0 -5px; }

.panel-footer .input-group-btn:last-child > .btn, .panel-footer .input-group-btn:last-child > .btn-group {
  margin: 0; }

.panel-widget .panel-footer a {
  color: #999; }

.panel-widget .panel-footer a:hover {
  color: #666;
  text-decoration: none; }

.panel-widget .text-muted {
  margin-top: -6px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8em; }

.panel-widget .large {
  color: #373b45;
  font-size: 3em; }

.panel-settings {
  list-style: none;
  padding: 0;
  margin: 0; }

.panel-settings .dropdown a.dropdown-toggle, .panel-settings a {
  padding: 0;
  background: none;
  color: #7c7c7c; }

.panel-settings a, .panel-toggle {
  width: 40px;
  padding: 2px 0 0 0; }

.panel-settings:hover, .panel-toggle:hover, .panel-settings .dropdown a.dropdown-toggle:hover, .panel-settings:active, .panel-toggle:active, .panel-settings .dropdown a.dropdown-toggle:active, .panel-settings:focus, .panel-toggle:focus, .panel-settings .dropdown a.dropdown-toggle:focus {
  background: #f1f4f7;
  color: #444444; }

.panel-settings, .panel-toggle {
  display: inline-block;
  margin: -1px -5px 0 15px !important;
  border-radius: 4px;
  text-align: center;
  border: 1px solid #e9ecf2;
  color: #7c7c7c;
  background: #fff;
  width: 42px; }

.panel-settings {
  width: 42px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px; }

.panel-settings li.dropdown {
  margin: 0;
  padding: 0; }

.dropdown-settings {
  border: 1px solid #fff;
  width: 220px;
  font-size: 0.9em;
  padding: 0; }

.dropdown-settings li {
  list-style: none;
  padding: 0 10px;
  width: 220px;
  height: 26px;
  line-height: 26px; }

.dropdown-settings .divider {
  margin: 7px 0; }

.dropdown-settings li a {
  padding: 0;
  margin: 0;
  display: inline-block;
  width: 100%;
  color: #444444; }

.clickable {
  cursor: pointer; }

.kuning {
  border-color: #ff9800;
  color: orange;
}

.kuning:hover {
  background: #ff9800;
  color: white;
}

.abu {
  border-color: #e7e7e7;
  color: gray;
}

.abu:hover {
  background: #e7e7e7;
}

.panel-heading span {
  margin: 0px;
  font-size: 14px; }

.panel-button-tab-right {
  margin-left: 4px !important;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

.panel-button-tab-left {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.border-top {
  border-top: 1px solid #dadbda; }

.border-right {
  border-right: 1px solid #dadbda; }

.border-bottom {
  border-bottom: 1px solid #dadbda; }

.border-left {
  border-left: 1px solid #dadbda; }

.panel .border-top, .panel .border-right, .panel .border-bottom, .panel .border-left {
  border-color: #e9ecf2; }

.article {
  padding: 10px 0; }

.article:first-child {
  padding: 0 0 10px 0; }

.article h4 {
  margin-bottom: 10px; }

.article .date {
  text-align: center;
  margin: 5px auto;
  display: block; }

.article .date .text-muted {
  margin-top: -5px; }

.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative; }

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 2px;
  background-color: #e9ecf2;
  left: 25px;
  margin-right: -1.5px; }

.timeline > li {
  margin-bottom: 20px;
  position: relative; }

.timeline > li:before, .timeline > li:after {
  content: " ";
  display: table; }

.timeline > li:after {
  clear: both; }

.timeline > li > .timeline-panel {
  width: calc( 100% - 65px );
  float: right;
  border: 1px solid #edeeed;
  border-radius: 2px;
  padding: 10px 20px;
  position: relative;
  box-shadow: none; }

.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  left: -11px;
  display: inline-block;
  border-top: 11px solid transparent;
  border-right: 11px solid #edeeed;
  border-left: 0 solid #edeeed;
  border-bottom: 11px solid transparent;
  content: " "; }

.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  left: -10px;
  display: inline-block;
  border-top: 10px solid transparent;
  border-right: 10px solid #fff;
  border-left: 0 solid #fff;
  border-bottom: 10px solid transparent;
  content: " "; }

.timeline > li > .timeline-badge {
  color: #fff;
  width: 46px;
  height: 46px;
  line-height: 51px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 0px;
  margin-right: -25px;
  background-color: #999999;
  z-index: 100;
  border-radius: 9999px; }

.timeline-badge.primary {
  background-color: #30a5ff !important; }

.timeline-badge.success {
  background-color: #8ad919 !important; }

.timeline-badge.warning {
  background-color: #ffb53e !important; }

.timeline-badge.danger {
  background-color: #f9243f !important; }

.timeline-badge.info {
  background-color: #30a5ff !important; }

.tulisantanggal {
  transition: .5s ease;
  opacity: 1;
  position: absolute;
  width: 100%;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: 25;
}
.blur {-webkit-filter: blur(4px);filter: blur(4px);}

.text {
  border-radius:10px;
  background-color: #20948b;
  color: white;
  font-size: 100%;
  padding: 16px 32px;
}

.progress {
  height: 12px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #f2f3f2;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); }

.progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #30a5ff;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: width .6s ease;
  transition: width .6s ease; }

.progress-bar-success {
  background-color: #8ad919;
  background-image: none; }

.progress-bar-info, .progress-bar-blue {
  background-color: #30a5ff;
  background-image: none; }

.progress-bar-warning, .progress-bar-orange {
  background-color: #ffb53e;
  background-image: none; }

.progress-bar-danger, .progress-bar-red {
  background-color: #f9243f;
  background-image: none; }

.progress-bar-teal {
  background-color: #1ebfae;
  background-image: none; }

.jumbotron {
  background: #fff;
  border-bottom: 1px solid #e9ecf2;
  color: #444444; }

.panel .tabs {
  margin: 0;
  padding: 0; }

.nav-tabs {
  background: #f2f3f2;
  border: 0; }

.nav-tabs li a:hover {
  background: #fff; }

.nav-tabs li a, .nav-tabs li a:hover, .nav-tabs li.active a, .nav-tabs li.active a:hover {
  border: 0;
  padding: 15px 20px; }

.nav-tabs li.active a {
  color: #30a5ff; }

.nav-tabs li a {
  color: #999; }

.nav-pills {
  padding: 15px;
  padding-bottom: 0; }

.nav-pills li a, .nav-pills li a:hover, .nav-pills li.active a, .nav-pills li.active a:hover {
  border: 0;
  padding: 7px 15px; }

.nav-pills li.active a, .nav-pills li.active a:hover {
  background: #30a5ff; }

.tab-content {
  padding: 15px; }

.navbar {
  border: 0; }

.navbar input {
  border: 0;
  background: #444;
  color: #fff; }

.navbar input:focus {
  color: #fff;
  background: #555;
  border: 1px solid #30a5ff;
  outline: 0;
  box-shadow: inset 0px 0px 0px 1px #30a5ff; }

.user-menu {
  display: inline-block;
  margin-top: 14px;
  margin-right: 10px;
  list-style: none;
  padding: 0; }


.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-width: 720px) {
      .sidebar {padding-top: 15px;}
      .sidebar a {font-size: 18px;}
      .listpenghuni button{
        width: 4px;
        height: 100%;
      }
      .listpenghuni {
        font-size:90%;
      }
      .listpenghuni button i {
       display:block; padding:0; width:max-content;
     }
    }


.user-menu a {
  color: #fff; }

.user-menu a:hover, .user-menu a:focus {
  text-decoration: none; }

.sidebar {
  display: block;
  padding: 0;
  display: none;
  box-shadow: none;
  background: #fff; }

.sidebar ul {
  margin: 20px 0px; }

.sidebar form {
  padding: 10px 0 0 0;
  margin: 10px 10px 20px 10px; }

@media (min-width: 768px) {
  .sidebar {
    display: block;
    position: fixed;
    top: 60px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto; }

  .navbar-header {
    width: 100%; 
    background-color: white;
    } 
  }

.sidebar ul.nav a:hover, .sidebar ul.nav li.parent ul li a:hover {
  text-decoration: none;
  background-color: #30a5ff;
  color: #fff; }

.sidebar ul.nav .active a, .sidebar ul.nav li.parent a.active, .sidebar ul.nav .active > a:hover, .sidebar ul.nav li.parent a.active:hover, .sidebar ul.nav .active > a:focus, .sidebar ul.nav li.parent a.active:focus {
  color: #fff;
  background-color: #30a5ff; }

.sidebar ul.nav ul, .sidebar ul.nav ul li {
  list-style: none;
  list-style-type: none; }

.sidebar ul.nav li a {
  height: 50px;
  font-size: 15px;
  line-height: 2em;
  color: #444444; }

.sidebar ul.nav ul.children {
  width: auto;
  padding: 0;
  margin: 0;
  background: #f9f9f9; }

.sidebar ul.nav ul.children li a {
  height: 40px;
  background: #f1f4f7;
  color: #444444; }

.sidebar ul.nav li.current a {
  background-color: #30a5ff;
  color: #fff !important; }

.sidebar ul.nav li.parent ul li a {
  border: none;
  display: block;
  padding-left: 30px;
  line-height: 40px;
  border-radius: 0; }

.sidebar ul.nav li.divider {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin: 0px 0; }

.profile-sidebar {
  padding: 10px 0;
  border-bottom: 1px solid #e9ecf2; }

.indicator {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 9999px;
  margin-right: 5px; }

.profile-userpic img {
  float: left;
  margin: 10px 0px 0px 15px;
  width: 50px;
  height: 50px;
  border-radius: 9999px !important; }

.profile-usertitle {
  float: left;
  text-align: left;
  margin: 10px 0 0 12px; }

.profile-usertitle-name {
  font-size: 20px;
  margin-bottom: 0px; }

.profile-usertitle-status {
  text-transform: uppercase;
  color: #AAA;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px; }

.breadcrumb {
  border-radius: 0;
  padding: 10px 15px 10px 15px;
  background: #e9ecf2;
  margin: 0; }

h1.page-header {
  margin-top: 20px;
  border-bottom: 0; }

.main-chart {
  background: #fff; }

.easypiechart-panel {
  text-align: center;
  padding: 1px 0;
  margin-bottom: 20px; }

.placeholder h2 {
  margin-bottom: 0px; }

.donut {
  width: 100%; }

.easypiechart {
  position: relative;
  text-align: center;
  width: 120px;
  height: 120px;
  margin: 20px auto 10px auto; }

.easypiechart .percent {
  display: block;
  position: absolute;
  font-size: 26px;
  top: 38px;
  width: 120px; }

#easypiechart-blue .percent {
  color: #30a5ff; }

#easypiechart-teal .percent {
  color: #1ebfae; }

#easypiechart-orange .percent {
  color: #6AB180; }

#easypiechart-red .percent {
  color: #ef4040; }

#calendar, .datepicker-inline {
  width: 100%; }

#calendar table {
  width: 100%; }

.datepicker-switch {
  font-size: 16px;
  height: 46px !important; }

.datepicker table tr td.old, .datepicker table tr td.new {
  color: #c5c7cc; }

.datepicker table tr td {
  padding: 10px !important; }

.datepicker table tr td.active, .datepicker table tr td.active:hover, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active:hover, .datepicker table tr td.active:hover:hover, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled:hover:hover, .datepicker table tr td.active:focus, .datepicker table tr td.active:hover:focus, .datepicker table tr td.active.disabled:focus, .datepicker table tr td.active.disabled:hover:focus, .datepicker table tr td.active:active, .datepicker table tr td.active:hover:active, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.active, .datepicker table tr td.active:hover.active, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled:hover.active, .open .dropdown-toggle.datepicker table tr td.active, .open .dropdown-toggle.datepicker table tr td.active:hover, .open .dropdown-toggle.datepicker table tr td.active.disabled, .open .dropdown-toggle.datepicker table tr td.active.disabled:hover {
  color: #ffffff;
  background-color: #30a5ff;
  text-shadow: none;
  border-color: #285e8e; }

.datepicker table tr td span:hover, .datepicker thead tr:first-child th:hover, .datepicker tfoot tr th:hover, .datepicker table tr td.day:hover, .datepicker table tr td.day.focused {
  background: rgba(0, 0, 0, 0.05); }

.todo-list {
  padding: 0;
  margin: -15px;
  background: #fff;
  color: #444444; }

.todo-list .checkbox input[type=checkbox] {
  margin: 0; }

.todo-list .checkbox {
  display: inline-block;
  margin: 0px; }

.panel-body input[type=checkbox]:checked + label {
  text-decoration: line-through;
  color: #777; }

.todo-list-item {
  list-style: none;
  line-height: 0.9;
  padding: 14px 15px 8px 15px; }

.todo-list-item:hover, a.todo-list-item:focus {
  text-decoration: none;
  background-color: #f6f6f6; }

.todo-list .fa-trash {
  color: #444444; }

.todo-list .fa-trash:hover {
  color: #ef4040; }

.chat .panel-body ul {
  list-style: none;
  margin: -15px;
  padding: 15px; }

.chat .panel-body ul li {
  margin-bottom: 10px;
  padding: 15px 5px;
  border-bottom: 1px solid #e9ecf2; }

.chat ul li.left .chat-body {
  margin-left: 80px; }

.chat ul li.right .chat-body {
  margin-right: 80px; }

.chat ul li .chat-body p {
  margin: 0; }

.chat .panel-body {
  overflow-y: scroll;
  height: 300px; }

.chat-body small {
  margin-left: 5px; }

.table {
  background: #fff; }

.fixed-table-container {
  border: 1px solid #e9ecf2; }

.fixed-table-container thead th {
  background: #f7f7f8;
  border-color: #ddd;
  color: #444444;
  font-weight: 300;
  font-size: 16px; }

.fixed-table-container tbody td {
  border: 1px solid #e9ecf2; }

.fixed-table-container tbody td:last-child {
  border-right: none; }

.table > thead > tr > th {
  border-bottom: 1px solid #e6e7e8;
  vertical-align: middle;
  height: 50px; }

.fixed-table-pagination .pagination {
  margin-top: 10px;
  margin-bottom: 0px; }

.fixed-table-pagination .pagination-detail {
  margin-top: 20px; }
  
p.back-link {
  text-align: center;
  margin-bottom: 20px;
  font-size: 12px;
  text-transform: uppercase; }

  .panel-body table{
    border:none;
  }

  .accordion {
    background-color: #1ED760;
    color: #fff;
    border: none; 
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    height: 100%;
  }
  
  .accordion p{
    color: white;
    text-align: center;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.025em;
  height: 100%;
  line-height: 38px; 
  }
  .active, .accordion:hover {
    background-color: #ccd;
  }
  
  .panel-accordion {
    padding: 0 18px;
    background-color: orange;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

